.header 
	background-color: #ffffff
	height: 80px
	margin: 0 215px
	display: flex
	align-items: center

	&__logo
		margin: 0 93px 0 0
		font-family: Raleway
		font-weight: 700
		font-size: 26px
		line-height: 31px
		letter-spacing: 0.03em
		color: #000
		text-decoration: none
		span
			color: #2196F3;
	&__links
		display: flex
		&-link 
			display: flex
			list-style-type: none
			li
				margin-right: 50px
			li:nth-child(3)
				margin-right: 331px
			a
				font-weight: 700;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.02em;
				color: #212121;
				text-decoration: none
			a:hover 
				color: #2196F3;
		&-contact
			list-style-type: none
			display: flex
			li
				margin-right: 50px
			li:nth-child(2)
				margin-right: 0
			a
				font-weight: 700;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.02em;
				color: #757575;
				text-decoration: none
			a:hover 
				color: #2196F3;






	/** &__links 
		display: flex
		list-style-type: none
		li 
			margin-right: 50px
			font-weight: 700;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 0.02em;
			color: #212121;
		li:nth-child(3)
			margin-right: 331px
		li:nth-child(4)
			color: #757575;
		li:nth-child(5)
			margin-right: 0
			color: #757575;
		a
			text-decoration: none
			a:hover 
				color: #2196F3
	